html {
  font-family: 'Lato', sans-serif;
}

.createButton {
  background-color: #4444bb;
  color: white;
  padding: 8px 20px;
  margin: 10px 5px;
  border-radius: 5px;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 700;
}

.genericButton {
  background-color: #4444bb;
  color: white;
  padding: 5px 10px;
  margin: 10px 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none;
  border: none;
  font-weight: 500;
}

.deleteButton {
  background-color: #bb4444;
  color: white;
  padding: 5px 10px;
  margin: 10px 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none;
  border: none;
  font-weight: 700;
}

.assignmentWrapper {
  margin-left: 20px;
  margin-top: 10px;
}

.assignment {
  border: 1px solid #ddd;
  padding: 8px;
  width: 60%;
  margin: 5px auto;
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.assignmentColumn {
  margin: 0 5px;
}

.assignmentInfo {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}

.assignmentActions {
  float: right;
  width: 50%;
  text-align: right;
}

.assignmentForm {
  width: 50%;
  margin: 0 auto;
  background-color: #eee;
  border-radius: 15px;
  padding: 20px;
}

.assignmentFormInput {
  width: 100%;
  text-align: center;
  margin: 8px;
}

.assignmentFormInput input {
  padding: 8px;
  font-size: 0.9rem;
  margin: 5px;
  width: 300px;
}

.assignmentFormInput label {
  width: 500px;
}

nav {
  display: flex;
}

.navList {
  margin: 20px 0 20px -15px;
  font-family: 'Lato', sans-serif;
  flex: 50%
}

.navBrand {
  display: inline;
  font-weight: 700;
  font-size: 20px;
}

.navItem {
  display: inline;
  margin: 0 5px 0 5px;
}

.navLink {
  text-decoration: none;
  color: #777777;
  padding: 8px 10px;
  transition: 0.2s ease;
  font-size: 17px;
}

.navLink:visited {
  color: #777777;
}

.navLink.navLinkSelected {
  color: #dddddd;
}

.navLink:hover {
  color: #222222;
  background-color: #eeeeee;
  border-radius: 5px;
  transition: 0.2s ease;
}